services:
  - type: web
    name: api-ricardo
    env: docker
    dockerContext: .
    plan: free
    region: frankfurt
    dockerfilePath: ./Dockerfile
    envVars:
      - key: PORT
        value: 443